---
import BaseLayout from '@/layouts/BaseLayout'
import ListPosts from '@/components/ListPosts'
import { getTags, getPostByTag } from '@/utils'

export async function getStaticPaths() {
	const tags = await getTags()

	return tags.map((tag) => ({
		params: { tag },
		props: { tag }
	}))
}

const { tag } = Astro.props

const posts = await getPostByTag(tag)
---

<BaseLayout title={tag}>
	<div class='flex justify-center flex-wrap gap-4'>
		<a
			href={`${Astro.site}/tags/${tag}`}
			class='inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2'
		>
			#{tag}
		</a>
	</div>
	<ListPosts posts={posts} />
</BaseLayout>
